<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776795925150-e3u7fg4dpmh5vp7k11kjnbaf3u631gbu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776795925150-e3u7fg4dpmh5vp7k11kjnbaf3u631gbu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>776795925150-t6pg1ingo4l1ghe88i8pfm1m0cc1kq5k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAwppzC32tL6nYzP1i3iGGYfo6ZCdwR6TU</string>
	<key>GCM_SENDER_ID</key>
	<string>776795925150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hotelcom.hotelier</string>
	<key>PROJECT_ID</key>
	<string>hotelcom-de0d1</string>
	<key>STORAGE_BUCKET</key>
	<string>hotelcom-de0d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776795925150:ios:62499e874a98148023e98f</string>
	<key>DATABASE_URL</key>
	<string>https://hotelcom-de0d1-default-rtdb.firebaseio.com</string>
</dict>
</plist>